/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

/*header {
  background: #072146 no-repeat center center fixed;
  padding: 20px;
  border: 1px solid #4CAF50;
  margin: 0;
  background-size: cover;
}*/
/*nav {
  background: #072146;
  padding-left: 2em;
}*/
/*nav {
    background-color: #072146;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}*/
/*nav ul li {*/
    /* This allow us to arrange list items in a row, without using float */
/*    display: inline-block;
    list-style-type: none;
}*/
.nav-wrapper{
  background-color: #072146;
  color: #FFFFFF;
  /*margin: 0;*/
  /*overflow: hidden;*/
  /*padding-left: 1em;*/
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-family: "Lucida" Grande, sans-serif;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}
html,body{
  background: url("https://s3-us-west-1.amazonaws.com/demobucketp016788/machupicchu.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  /*font-family: 'Numans', sans-serif;*/
  /*font-family: Arial,tahoma,verdana,Helvetica,sans-serif;*/
}
/*se agrega estilos css para el login */
.container{
height: 100%;
align-content: center;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.7) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #1973B8;
}

.social_icon span:hover{
color: #004481;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #35AC67;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #1973B8;
width: 100px;
}

.login_btn:hover{
color: white;
background-color: #004481;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
/*se agrega estilos css para el login */
