<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="techufront2019-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Techufront2019App extends Polymer.Element {
      static get is() { return 'techufront2019-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'techufront2019-app'
          }
        };
      }
    }

    window.customElements.define(Techufront2019App.is, Techufront2019App);
  </script>
</dom-module>
